* {
	box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content {
	margin: auto;
}



