@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Fira Sans';
  margin: 0;
  padding: 0;
  background: #333;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  div {
    margin: auto;
  }
  canvas {
    margin: auto;
  }
}

#app {
  background: #222;
  padding: 0;
  color: #ccc;

  .interface-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1ch;
  }

  input {
    border: 0;
    border-radius: 0.2rem;
    padding: 0.2rem 0.3rem;
    margin-left: 1ch;
  }
}

#canvas {
  padding-top: 2vmin;
  canvas {
    border: 2px solid #ccca;
    object-fit: contain;
    width: 100% !important;
    height: auto !important;
    // height: 80vmin !important;
  }
}

button {
  background: #ccc;
  border: 0;
  border-radius: 5px;
  padding: 1ch;
  &:hover {
    background: #666;
    color: #ccc;
  }
}
