body,
html {
  color: white;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #111;
}

* {
  box-sizing: border-box;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
  margin: auto;
  object-fit: contain;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  height: 10vh;
}
