shader-doodle {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

div {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", sans-serif;
  font-size: 50vmin;
  text-transform: uppercase;
  mix-blend-mode: multiply;
  color: #fa0;
  overflow: hidden;
}
