@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Antonio', sans-serif;
  color: #F7F4E1;
  margin: 0;
  padding: 0;
  background: #000;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
}


h1,
h2,
h3,
h4,
h5,
p,
button,
a {
  margin: 0;
}

.app {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.app .sketch {
  margin: auto;
  width: 100%;
}

.app .sketch canvas {
  width: 100%;
}

button {
  background: #709DD8;
  color: #F7F4E1;
  border: 0;
  border-radius: 0.5rem;
  padding: 0 1rem;
  height: 2rem;
}

.app .header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 0;
  justify-content: space-around;
  background: #111;
  padding: 1rem;
}

.app .header * {
  margin: auto;
}