html, body {
	background: #111;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {

}

#bg {
	height: 100vh;
	display:flex;
}

.unicorn {
	opacity: 1;
	position: absolute;
}


.rainbow {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	opacity: 1;
	z-index: -100;
}

button {
	opacity: 1;
	font-size: 32pt;
	margin: auto;
	border: none;
	border-radius: 2vmin;
	padding: 2vmin 3vmin 2vmin 2vmin ;
	z-index: 100;
}
/*
button:active {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
}
*/